In [34]:
import pandas as pd 
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier 
from sklearn.tree import DecisionTreeRegressor 
from sklearn import metrics 
from sklearn.ensemble.forest import RandomForestClassifier
from sklearn.ensemble.forest import RandomForestRegressor
import os

In [16]:
train_data_set = pd.read_csv("data/dataset_tae_final_no_na.csv", encoding = "ISO-8859-1")
train_data_set.tail()

,age,workclass,fnlwgt,education,education_num,marital_status,ocupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,native_country,income
30156,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [18]:
train_data_set.income.tail()

30156     <=50K
30157      >50K
30158     <=50K
30159     <=50K
30160      >50K
Name: income, dtype: object

In [77]:
label_encoders = {}
td_set_encoded = train_data_set.copy(deep=True)
for cn in train_data_set.columns:
    label_encoders[cn] = preprocessing.LabelEncoder()
    label_encoders[cn].fit(train_data_set[str(cn)])
    td_set_encoded[str(cn)] = label_encoders[cn].transform(train_data_set[str(cn)])
td_set_encoded.tail()

,age,workclass,fnlwgt,education,education_num,marital_status,ocupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,native_country,income
30156,10,2,15470,7,11,2,12,5,4,0,0,0,37,38,0
30157,23,2,7554,11,8,2,6,0,4,1,0,0,39,38,1
30158,41,2,7376,11,8,6,0,4,4,0,0,0,39,38,0
30159,5,2,12059,11,8,4,0,3,4,1,0,0,19,38,0
30160,35,3,16688,11,8,2,3,5,4,0,107,0,39,38,1

In [ ]:
le = preprocessing.LabelEncoder()

In [73]:
names = list(td_set_encoded.columns)
y_train = td_set_encoded.income
x_train = td_set_encoded.loc[:,td_set_encoded.columns!="income"]

In [74]:
random_forest_model = RandomForestClassifier(n_estimators = 1000, criterion="entropy", max_features=4)
random_forest_model = random_forest_model.fit(x_train, y_train)